//
// YourCare : Core Stylesheet
//
// ==========================================================================

// ==========================================================================
// Global Variables
// ==========================================================================

// Fonts
$font-default           :   Helvetica, Arial, sans-serif;
$font-gotham            :   GothamBook, Helvetica, Arial, sans-serif;
$font-gotham-med        :   GothamMedium, Helvetica, Arial, sans-serif;
$font-multicolore       :   Multicolore, Helvetica, Arial, sans-serif;

// Colors
$main-color             :   #35bdb2;
$active-color           :   #59c7f9;
$panel-color            :   #d6f5ef;

$nav-text-color         :   #00254c;
$nav-text-active-color  :   #9cdefc;
$subnav-bg              :   #d7d7d7;
$subnav-active-color    :   #5ac8fa;
$subnav-hover-color     :   #4d6682;
$subnav-color           :   #8e8e93;

$aqua                   :   #35bdb2;
$blue                   :   #007aff;
$red                    :   #d91c5c;
$yellow                 :   #ffcb00;
$gray                   :   #a3a8ab;
$light-gray             :   #ccc;

// Timers
$main-nav-delay         :   .8s;
$status-nav-delay       :   .5s;
$sub-nav-delay          :   .5s;
$quick-search-delay     :   .6s;

$content-delay          :   1s;
$button-delay           :   .2s;
$text-input-delay       :   .5s;

// Grid
$total-columns          :   12;
$column-width           :   5em;
$gutter-width           :   1em;
$grid-padding           :   $gutter-width;

// Layout
$page-gutter-width      :   20px;
$page-min-width         :   960px;
$page-pad-width         :   $page-min-width + ( $page-gutter-width * 2 );
$page-max-width         :   1200px;
$footer-height          :   125px;

// Media-Queries
$mq-tablet              :   768px;

// ==========================================================================
// Core Layout + Navigation Defaults
// ==========================================================================

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  min-width: $page-pad-width;
  cursor: default;
}

header {
  height: 139px;
  background-color: white;
  border-bottom: 3px solid $main-color;
  @include box-shadow(rgba(black, .15) 0 2px 2px);
}

#content {
  padding-bottom: $footer-height;
  overflow: auto;
}

footer {
  position: relative;
  min-width: $page-pad-width;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  background-color: $panel-color;
}

.inner {
  width: 80%;
  min-width: $page-min-width;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $page-gutter-width;
}

// ==========================================================================
// Contextual Defaults
// ==========================================================================

h1, h2, h3 {
  color: $main-color;
  font-family: $font-multicolore;
}

h1 {
  text-shadow: 0 0 5px rgba(black, 0.45);
}

h3 {
  color: $blue;

  &.red {
    color: $red;
  }
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

// ==========================================================================
// Modular-Panel Layout
// ==========================================================================

#content .inner {
  padding: 40px 0 50px;

  &.reveal-animation.ng-enter {
    @include transition-duration($content-delay);
    opacity: 0;
  }
  &.reveal-animation.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .area {
    @include container;
    // @include susy-grid-background;
    padding-left: 0;
    padding-right: 0;
    font-family: $font-default;

    &#health, &#goals, &#calendar, &#community {
      padding-top: 36px;
    }

    .panel {
      float: left;
      margin-bottom: $grid-padding;
      padding: 10px 0;
      background-color: white;
      border-radius: 10px;

      h3 {
        font-size: 21px;
        text-align: center;
      }
    }

    .left-content {
      @include span-columns(8,12);

      .panel {
        height: 250px;

        &.left {
          @include span-columns(4, 8);
        }
        &.right {
          @include span-columns(4 omega, 8);
        }
        &.last {
          margin-bottom: 0;
        }
        &.full {
          height: 350px;
          width: 100%;

          h3 {
            text-align: left;
            text-indent: 35px;
          }
        }
      }
    }

    .right-column {
      @include span-columns(4 omega, 12);

      .panel {
        height: 400px;
        width: 100%;
        background: rgba(white, .2);
      }
    }
  }
}
