// ==========================================================================
// Buttons
// ==========================================================================

button {
  color: white;
  font-family: $font-multicolore;
  font-size: 12px;
  border: 0;
  @include border-radius(4px);
  @include webkit-hardware-accel();
  @include transition-duration($default-delay);
}

button.aqua {
  background-color: $aqua;

  &:hover, &:focus {
    color: lighten($light-gray, 15%);
    background-color: lighten($aqua, 3%);
    @include no-outline();
  }
}

// button.blue {

// }

