// ==========================================================================
// Buttons
// ==========================================================================
// TODO: Create Button Mixin
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

button {
  padding: 0;
  text-align: center;
  font: 12px $font-multicolore;
  color: white;
  background-color: $gray;
  border: 0;
  @include border-radius(4px);
  @include transition-duration($button-delay);
  @include no-outline();

  &:hover {
    color: lighten($light-gray, 15%);
    text-shadow: 0 0 5px darken($gray, 15%);
    background-color: lighten($gray, 5%);
    @include no-outline();
  }
  &:active {
    background-color: $gray;
    //box-shadow: inset 0 -1px 1px 0 rgba(black, .2);
  }

  &.aqua {
  background-color: $aqua;

    &:hover {
      color: lighten($light-gray, 15%);
      text-shadow: 0 0 5px darken($aqua, 15%);
      background-color: lighten($aqua, 5%);
    }
    &:active {
      background-color: $aqua;
    }
  }

  // &.blue {}
}

.panel button {
  display: inline-block;
  width: 120px;
  padding: 6px 0 4px;
  font: 14px $font-gotham;
  color: $blue;
  background-color: rgba(white, 0.5);
  @include border-radius(8px);

  &:hover {
    background-color: rgba(white, 0.85) !important;
    box-shadow: 0 0 13px rgba(white, 0.5);
    text-shadow: 0 0 5px rgba($blue, 0.35);
  }
}