//
// Core Stylesheet
//
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================

$page-font              :   Helvetica;
$main-color             :   #35bdb2;
$active-color           :   #59c7f9;
$panel-color            :   #d6f5ef;

$nav-text-color         :   #00254c;
$nav-text-active-color  :   #9cdefc;
$subnav-bg              :   #d7d7d7;
$subnav-active-color    :   #5ac8fa;
$subnav-color           :   #8e8e93;

$aqua                   :   #35bdb2;
$blue                   :   #007aff;
$red                    :   #d91c5c;
$yellow                 :   #ffcb00;
$gray                   :   #a3a8ab;
$light-gray             :   #ccc;

$font-gotham            :   GothamBook, Helvetica, Arial, sans-serif;
$font-gotham-med        :   GothamMedium, Helvetica, Arial, sans-serif;
$font-multicolore       :   Multicolore, Helvetica, Arial, sans-serif;

$nav-delay              :   .4s;
$default-delay          :   .6s;

// ==========================================================================
// Layout + Navigation Defaults
// ==========================================================================

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  min-width: 960px;
  background: url(../img/page-bg.png) no-repeat;
  background-size: cover;
  cursor: default;
}

header {
  height: 145px;
  background-color: white;
  border-bottom: 3px solid $main-color;
  @include box-shadow(rgba(black, .15) 0 2px 2px);

  a.home {
    float: left;
    margin: 24px 0 0;
    @include no-outline();
  }
}

.content {
  overflow: auto;
  padding-bottom: 125px; // (=) footer height
  //height: 1750px;
}

footer {
  position: relative;
  min-width: 960px;
  margin-top: -125px; // (-) footer height
  height: 125px;
  clear: both;
  background-color: $panel-color;
}

.inner {
  display: block;
  width: 80%;
  min-width: 920px;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}


// ==========================================================================
// Content
// ==========================================================================

h1 {
  color: $red;
}

.content .inner {
  padding: 40px 20px;
}