//
// Core Stylesheet
//
// ==========================================================================

// ==========================================================================
// Variables
// ==========================================================================

$page-font          :   Helvetica;
$text-color         :   #DDD;
$hilite-color       :   #999;


// ==========================================================================
// Styles
// ==========================================================================

body {
  color: $text-color;
  font-family: $page-font;
}

h1 {
  color: $text-color;
}
