@font-face {
  font-family: GothamBook;
  src: url('fonts/Gotham-Book.otf') format('opentype');
}
@font-face {
  font-family: GothamMedium;
  src: url('fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: Multicolore;
  src: url('fonts/Multicolore.otf') format('opentype');
}
