// ==========================================================================
// Background-Image Data URI's
// ==========================================================================

// Content
.wrap {
  background: inline_image('../img/page-bg.png') no-repeat;
  background-size: cover;
}

// Panels
.panel {

  // Tools & Resources
  &.tools ul li {
    a.download {
      background: inline_image('../img/icon-white-small-download.svg') center left no-repeat;
    }
    a.wrench {
      background: inline_image('../img/icon-white-small-wrench.svg') center left no-repeat;
    }
    a.add {
      background: inline_image('../img/icon-white-small-add.svg') center left no-repeat;
    }
    a.doc {
      background: inline_image('../img/icon-white-small-doc.svg') center left no-repeat;
    }
  }

  // Alerts Panel
  &.alerts ul li {
    &.top {
      background: inline_image('../img/alerts-panel-top.svg') top center no-repeat;
    }
    &.refill p {
      background: inline_image('../img/icon-white-refill.svg') center left no-repeat;
    }
    &.record p {
      background: inline_image('../img/icon-white-record.svg') center left no-repeat;
    }
    &.summary p {
      background: inline_image('../img/icon-white-summary.svg') center left no-repeat;
    }
    &.blue.event p {
      background: inline_image('../img/icon-blue-event.svg') center left no-repeat;
    }
  }

  &.runner ul li {
    &.minutes {
      background: inline_image('../img/icon-white-runner.svg') center left no-repeat;
    }
    &.miles {
      background: inline_image('../img/icon-white-location.svg') center left no-repeat;
    }
    &.calories {
      background: inline_image('../img/icon-white-burn.svg') center left no-repeat;
    }
  }

  // Options Buttons
  .options {
    background: inline_image('../img/panel-options-button-off.svg') center no-repeat;
    &.on {
      background-image: inline_image('../img/panel-options-button-on.svg');
    }
  }

  // Plus Icon-Buttons
  a.plus, span.plus {
    background: inline_image('../img/button-white-plus.svg') center no-repeat;
  }
  .blue a.plus, .blue span.plus {
    background: inline_image('../img/button-blue-plus.svg') center no-repeat;
  }

  // Panel Icons
  .aqua-checkmark-icon {
    background: inline_image('../img/icon-aqua-checkmark.svg') center left no-repeat;
  }
  .red-exclamation-icon {
    background: inline_image('../img/icon-red-exclamation.svg') center left no-repeat;
  }
  .blue-doc-icon {
    background: inline_image('../img/icon-blue-doc.svg') center left no-repeat;
  }
  .purple-blocks-icon {
    background: inline_image('../img/icon-purple-blocks.svg') center left no-repeat;
  }

  // Tab-Menu Icons
  .tab-menu {
    .download-icon {
      background-image: inline_image('../img/icon-gray-small-download.svg');

      &:hover {
        background-image: inline_image('../img/icon-aqua-small-download.svg');
      }
    }
    .graph-icon {
      background-image: inline_image('../img/icon-gray-small-graph.svg');

      &:hover {
        background-image: inline_image('../img/icon-aqua-small-graph.svg');
      }
    }
    .checkmark-icon {
      background-image: inline_image('../img/icon-gray-small-checkmark.svg');

      &:hover {
        background-image: inline_image('../img/icon-aqua-small-checkmark.svg');
      }
    }
    .send-icon {
      background-image: inline_image('../img/icon-gray-small-send.svg');

      &:hover {
        background-image: inline_image('../img/icon-aqua-small-send.svg');
      }
    }
    .pill-icon {
      background-image: inline_image('../img/icon-gray-small-pill.svg');

      &:hover {
        background-image: inline_image('../img/icon-aqua-small-pill.svg');
      }
    }

  }
}

// Header
header {
  a.home {
    background: inline_image('../img/logo.svg') no-repeat;
  }
  nav.main ul a {
    background: inline_image('../img/nav-marker.svg') center 43px no-repeat;
  }
  .statusbar a {
    &.messages {
      background: inline_image('../img/messages.svg') no-repeat;
    }
    &.alerts {
      background: inline_image('../img/alerts.svg') no-repeat;
    }
    &.profile {
      background: inline_image('../img/profile.svg') no-repeat;
    }
    &.share {
      background: inline_image('../img/share.svg') no-repeat;
    }
    &.settings {
      background: inline_image('../img/settings.svg') no-repeat;
    }
    &.search {
      background: inline_image('../img/search.svg') no-repeat;
    }
  }
}

// Social Icons
.facebook-icon {
  background: inline_image('../img/social-facebook.svg') no-repeat;
}
.twiiter-icon {
  background: inline_image('../img/social-twitter.svg') no-repeat;
}
.google-icon {
  background: inline_image('../img/social-google.svg') no-repeat;
}
.pinterest-icon {
  background: inline_image('../img/social-pinterest.svg') no-repeat;
}
.nike-icon {
  background: inline_image('../img/social-nike.svg') no-repeat;
}
