// ==========================================================================
// Header : Logo + Main Menu
// ==========================================================================

header {
  background-color: white;
  border-bottom: 3px solid $main-color;
  @include box-shadow(rgba(black, .15) 0 2px 2px);

  & > .inner {
    height: 97px;
  }

  a.home {
    @extend .ir;
    float: left;
    height: 48px;
    width: 322px;
    margin: 24px 0 0;
    @include no-outline();
  }

  nav.main {
    float: right;
    margin-top: 54px;
    overflow: hidden;

    ul {
      @include reset-list();
      float: right;

      li {
        float: left;
        height: 43px;
        width: 130px;
        overflow: hidden;

        &.wide {
          width: 160px;

          a {
            width: 160px;
          }
        }

        a {
          display: inline-block;
          height: inherit;
          width: 130px;
          padding: 0;
          color: $nav-text-color;
          font-size: 14px;
          font-family: $font-gotham;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          @include no-outline();
          @include transition-duration($main-nav-delay);

          &:hover {
            color: lighten($subnav-hover-color, 15%);
          }

          &.active, &.active:hover {
            color: $subnav-active-color;
            font-family: $font-multicolore;
            background-position: center 35px;
            cursor: default;
          }
        }
      }
    }
  }
}

// ==========================================================================
// Header : Sub Menu
// ==========================================================================

header .submenu {
  position: absolute;
  top: 142px;
  visibility: hidden;
  overflow: hidden;
  float: left;
  height: 0;
  width: 100%;
  min-width: $page-pad-width;
  background: lighten($subnav-bg, 5%);
  border-bottom: 1px solid lighten($subnav-color, 10%);
  @include transition-duration($sub-nav-delay);

  &.active {
    visibility: visible;
    height: 36px;
    @include box-shadow(rgba(black, 0.15) 0 0 3px 1px);
  }

  .inner {
    height: inherit;
  }

  ul {
    @include reset-list();
    display: none;
    float: left;
    height: inherit;
    width: 100%;

    &.active {
     display: block;
    }

    li {
      float: left;
      width: 25%;

      a {
        float: left;
        height: 36px;
        width: 100%;
        text-align: center;
        color: $subnav-color;
        font-family: $font-gotham;
        line-height: 36px;
        text-decoration: none;
        cursor: pointer;
        @include no-outline();
        //@include transition-duration($sub-nav-delay);
        // border-right: 1px solid lighten($subnav-color, 25%);

        &:hover {
          color: lighten($subnav-hover-color, 10%);
          // text-shadow: 0 0 2px rgba($main-color, .2);
          // @include background-image( linear-gradient(bottom, lighten($subnav-bg, 5%), #f4f4f4) );
          // border-right: none;
        }

        &.active, &.active:hover {
          color: lighten($subnav-hover-color, 20%);
          //color: white;
          //color: $subnav-active-color;
          //font-family: $font-gotham-med;
          //background: lighten($subnav-active-color, 5%);
          //text-shadow: 0 0 2px rgba($subnav-active-color, .2);
          cursor: default;
        }
      }

      &:first-of-type a {
        // border-left: 1px solid lighten($subnav-color, 25%);
      }
    }
  }
}

// ==========================================================================
// Header : Status Bar
// ==========================================================================

header .statusbar {
  width: 100%;
  height: 42px;
  background-color: $main-color;

  .inner {
    height: inherit;
  }

  ul {
    @include reset-list();
    height: inherit;

    li {
      float: left;
      height: inherit;

      a {
        float: left;
        height: 29px;
        margin-top: 6px;
        margin-right: 30px;
        @extend .ir;
        @include no-outline();
        @include transition-duration($status-nav-delay);

        &.messages {
          width: 36px;
        }
        &.alerts {
          height: 30px;
          width: 30px;
        }
        &.profile {
          width: 30px;
        }
        &.share {
          height: 32px;
          width: 32px;
          margin-top: 5px;
        }
        &.settings {
          width: 28px;
          margin-top: 7px;
        }
        &.search {
          width: 29px;

          &.inactive {
            margin-left: 10px;
          }
        }

        &:hover {
          opacity: .75;
        }
        &.active {
          opacity: .5;
        }
        &.inactive {
          opacity: .2;
        }
      }
    }

    &.right {
      float: right;

      li a {
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
}

// ==========================================================================
// Header : Status Bar : Quick-Search
// ==========================================================================

header .statusbar .status-search {
  display: block;
  width: 0;
  opacity: 0;
  overflow: hidden;
  @include transition-property(all);
  @include transition-duration($quick-search-delay);

  &.active {
    width: 330px;
    opacity: 1;
  }

  .searchbox {
    display: none;
    float: left;
    margin: 3px 0 0 40px;
    border-radius: 18px;
    border: 3px solid rgba(white, .3);

    input {
      float: left;
      height: 30px;
      width: 245px;
      padding: 0;
      color: rgba(white, .75);
      font-size: 13px;
      text-indent: 10px;
      background-color: rgba(white, .3);
      border: 0;
      border-radius: 15px 0 0 15px;
      @include transition-property(all);
      @include transition-duration($quick-search-delay);
      @include no-outline();
    }

    button {
      float: right;
      height: 30px;
      width: 36px;
      padding-top: 1px;
      text-indent: 0;
      border-radius: 0 15px 15px 0;
    }
  }
}

// ==========================================================================
// Footer
// ==========================================================================

footer {
  background-color: $panel-color;

  .inner {
    height: inherit;
    text-align: center;
  }
}

// ==========================================================================
// Footer : Social-Panel
// ==========================================================================

footer .social,
footer .invite {
  float: left;
  width: 50%;
  height: inherit;

  h4 {
    margin: 12px 0;
    color: $main-color;
    font-family: $font-multicolore;
    font-weight: normal;
    cursor: default;
  }
}

footer .social ul {
  @include reset-list();
  display: inline-block;
  height: 35px;
  margin-top: 10px;

  li {
    float: left;
    height: inherit;
    width: 35px;
    padding-right: 17px;

    &:last-of-type {
      padding-right: 0;
    }

    a {
      @extend .ir;
      float: left;
      height: 35px;
      width: 35px;
      @include no-outline();

      &:hover {
        border-radius: 16px;
        box-shadow: 0 0 5px 3px rgba(white, .5);
      }
    }
  }
}

// ==========================================================================
// Footer : Invite-Panel
// ==========================================================================

footer .invite {

  input {
    height: 30px;
    width: 283px;
    margin-bottom: 5px;
    padding: 0 7px;
    color: $gray;
    font-size: 14px;
    text-align: center;
    border: 1px solid $gray;
    @include border-radius(10px);
    @include box-shadow(rgba(black, .5) 0 0 1px inset);
    @include no-outline();
    @include transition-duration($text-input-delay);

    &:hover {
      background-color: lighten($aqua, 80%);
    }

    &:focus {
      color: $nav-text-color;
      border-color: lighten($gray, 10%);
      @include box-shadow(rgba(black, .5) 0 0 1px inset, rgba($aqua, 0.3) 0 0 3px 1px);
      opacity: 1;
    }
  }

  button {
    display: inline-block;
    width: 297px;
    margin-top: 5px;
    padding: 6px 0 4px;
  }
}
