//
// Primary Navigation
//
// ==========================================================================

// ==========================================================================
// Header Logo
// ==========================================================================

header {
  a.home {
    float: left;
    height: 48px;
    width: 322px;
    margin: 24px 0 0;
    background: inline_image('../img/logo.svg') no-repeat;
    @include no-outline();
  }
}

// ==========================================================================
// Header Main Menu
// ==========================================================================

header nav.main {
  float: right;
  margin-top: 54px;
  overflow: hidden;

  ul {
    @include reset-list();
    float: right;

    li {
      float: left;
      height: 43px;
      width: 130px;
      overflow: hidden;

      &.wide {
        width: 160px;

        a {
          width: 160px;
        }
      }

      a {
        display: inline-block;
        height: inherit;
        width: 130px;
        padding: 0;
        color: $nav-text-color;
        font-size: 14px;
        font-family: $font-gotham;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        background: inline_image('../img/nav-marker.svg') center 43px no-repeat;
        @include no-outline();
        @include transition-duration($nav-delay);

        &:hover {
          text-shadow: 0 0 2px rgba($main-color, .5);
          opacity: 0.70;
        }

        &.active {
          color: lighten($subnav-active-color, 10%);
          font-family: $font-multicolore;
          background-position: center 35px;

          &:hover {
            text-shadow: none;
            opacity: 1.0;
            cursor: default;
          }
        }
      }
    }
  }
}

// ==========================================================================
// Header Sub-Menu
// ==========================================================================

header .submenu {
  position: absolute;
  top: 142px;
  display: none;
  float: left;
  height: 36px;
  width: 100%;
  min-width: 960px;
  background: lighten($subnav-bg, 5%);
  border-bottom: 1px solid lighten($subnav-color, 10%);
  @include box-shadow(rgba(black, 0.15) 0 0 3px 1px);

  .inner {
    height: inherit;
  }

  ul {
    @include reset-list();
    float: left;
    height: inherit;
    width: 100%;

    li {
      float: left;
      width: 25%;

      a {
        float: left;
        height: 36px;
        width: 100%;
        text-align: center;
        color: $subnav-color;
        font-family: $font-gotham;
        line-height: 36px;
        text-decoration: none;
        @include no-outline();
        @include transition-duration($nav-delay);
        border-right: 1px solid lighten($subnav-color, 25%);

        &:hover {
          color: $subnav-active-color;
          text-shadow: 0 0 2px rgba($main-color, .2);
          @include background-image( linear-gradient(bottom, lighten($subnav-bg, 5%), #f4f4f4) );
          border-right: none;
        }

        &.active, &.active:hover {
          color: white;
          font-family: $font-gotham-med;
          background: lighten($subnav-active-color, 5%);
          text-shadow: 0 0 2px rgba($subnav-active-color, .2);
          cursor: default;
        }
      }

      &:first-of-type a {
        border-left: 1px solid lighten($subnav-color, 25%);
      }
    }
  }
}

// ==========================================================================
// Header Status-Bar
// ==========================================================================

header .statusbar {
  width: 100%;
  height: 42px;
  background-color: $main-color;

  .inner {
    height: inherit;
  }

  ul {
    @include reset-list();
    float: left;
    height: inherit;

    li {
      float: left;
      height: inherit;

      a {
        float: left;
        height: 29px;
        margin-top: 6px;
        margin-right: 30px;
        @extend .ir;
        @include no-outline();
        @include transition-duration($nav-delay);

        &.messages {
          width: 36px;
          background: inline_image('../img/messages.svg') no-repeat;
        }
        &.alerts {
          height: 30px;
          width: 30px;
          background: inline_image('../img/alerts.svg') no-repeat;
        }
        &.profile {
          width: 30px;
          background: inline_image('../img/profile.svg') no-repeat;
        }
        &.share {
          height: 32px;
          width: 32px;
          margin-top: 5px;
          background: inline_image('../img/share.svg') no-repeat;
        }
        &.settings {
          width: 28px;
          margin-top: 7px;
          background: inline_image('../img/settings.svg') no-repeat;
        }
        &.search {
          width: 29px;
          background: inline_image('../img/search.svg') no-repeat;

          &.inactive {
            margin-left: 10px;
          }
        }

        &:hover {
          opacity: .75;
        }
        &.active {
          opacity: .5;
        }
        &.inactive {
          opacity: .2;
        }
      }
    }

    &.right {
      float: right;

      li a {
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
}

// ==========================================================================
// Header Status-Bar: Quick-Search
// ==========================================================================

header .statusbar .status-search {
  display: block;
  width: 0;
  opacity: 0;
  overflow: hidden;
  @include transition-property(all);
  @include transition-duration($default-delay);

  &.active {
    width: 330px;
    opacity: 1;
  }

  .searchbox {
    display: none;
    float: left;
    margin: 3px 0 0 40px;
    border-radius: 18px;
    border: 3px solid rgba(white, .3);
    //box-shadow: 0 0 6px 1px rgba(white, .15);

    input {
      float: left;
      height: 30px;
      width: 245px;
      padding: 0;
      color: rgba(white, .75);
      font-size: 13px;
      text-indent: 10px;
      background-color: rgba(white, .3);
      border: 0;
      border-radius: 15px 0 0 15px;
      @include transition-property(all);
      @include transition-duration($default-delay);
      @include no-outline();

      &:focus {
        //color: white;
        background-color: rgba(white, .2);
        //box-shadow: inset 0 0 3px 0 rgba(white, .25);
      }
    }

    button {
      float: right;
      height: 30px;
      width: 36px;
      padding-top: 1px;
      text-indent: 0;
      border-radius: 0 15px 15px 0;
    }
  }
}

// ==========================================================================
// Footer
// ==========================================================================

footer .inner {
  height: inherit;
  text-align: center;
}

// ==========================================================================
// Footer Social-Panel
// ==========================================================================

footer .social,
footer .invite {
  float: left;
  width: 50%;
  height: inherit;

  h4 {
    margin: 12px 0;
    color: $main-color;
    font-family: $font-multicolore;
    font-weight: normal;
    cursor: default;
  }
}

footer .social ul {
  @include reset-list();
  display: inline-block;
  height: 35px;
  margin-top: 10px;

  li {
    float: left;
    height: inherit;
    width: 35px;
    padding-right: 17px;

    &:last-of-type {
      padding-right: 0;
    }

    a {
      @extend .ir;
      @include no-outline();
      @include transition-duration($nav-delay);
      float: left;
      height: 35px;
      width: 35px;

      &.facebook {
        background: inline_image('../img/social-facebook.svg') no-repeat;
      }
      &.twiiter {
        background: inline_image('../img/social-twitter.svg') no-repeat;
      }
      &.google {
        background: inline_image('../img/social-google.svg') no-repeat;
      }
      &.pinterest {
        background: inline_image('../img/social-pinterest.svg') no-repeat;
      }

      &:hover {
        border-radius: 16px;
        box-shadow: 0 0 5px 3px rgba(white, .5);
        opacity: 0.75;
      }
    }
  }
}

// ==========================================================================
// Footer Invite-Panel
// ==========================================================================

footer .invite {

  input {
    height: 30px;
    width: 283px;
    margin-bottom: 5px;
    padding: 0 7px;
    color: $gray;
    font-size: 14px;
    text-align: center;
    border: 1px solid $gray;
    @include border-radius(10px);
    @include box-shadow(rgba(black, .5) 0 0 1px inset);
    @include no-outline();
    @include transition-duration($nav-delay);

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      color: $nav-text-color;
      border-color: lighten($gray, 10%);
      @include box-shadow(rgba(black, .5) 0 0 1px inset, rgba($aqua, 0.3) 0 0 3px 1px);
      opacity: 1;
    }
  }

  button {
    display: inline-block;
    width: 297px;
    margin-top: 5px;
    padding: 6px 0 4px;
  }
}
