// ==========================================================================
// Content Panels
// ==========================================================================

.panel {
  position: relative;
  float: left;
  min-height: 200px;
  margin-bottom: $grid-padding;
  padding: 10px 0;
  background-color: white;
  @include border-radius(8px);

  h3 {
    margin-top: 10px;
    font-size: 21px;
    text-align: center;
  }

  a.options {
    @extend .ir;
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    width: 20px;
    height: 13px;
    @include no-outline();

    &:hover {
      opacity: 0.6;
    }
  }







  &.last {
    margin-bottom: 0;
  }

  &.opaque {
    background: rgba(white, .5);
  }

}

// Left-Content Panels
.left-content .panel {
  &.left {
    @include span-columns(4, 8);
  }
  &.right {
    @include span-columns(4 omega, 8);
  }
  &.full {
    width: 100%;
  }
}

// Right-Column Panels
.right-column .panel {
  width: 100%;

  h3 {
    font-size: 19px;
    text-align: left;
    text-indent: 23px;
  }
}

// Panel Headers
.panel.header {
  padding-top: 0;
  min-height: 210px;

  .header {
    width: 100%;
    padding: 15px 0 10px;
    background-color: white;
    @include border-radius(8px 8px 0 0);

    h3 {
      margin: 0;
      text-align: left;
      text-indent: 23px;
    }
  }
}

// Alerts Panel
.panel.alerts {
  ul {
    @include reset-list();
    //background: #69f;
    width: 90%;
    margin: 0 auto;

    li {
      float: left;
      width: 100%;
      padding-bottom: 15px;
      line-height: 60px;

      p {
        float: left;
        margin: 0;
        padding-left: 55px;
        width: 72%;
        color: white;
        font-family: GothamBook;
        font-size: 12px;
        line-height: 16px;

        span {
          font-family: GothamMedium;
          font-size: 14px;
        }
      }

      a.plus {
        @extend .ir;
        display: inline-block;
        height: 20px;
        width: 20px;

        &:hover {
          opacity: 0.75;
        }
      }

      &.blue {
        p {
          color: $blue;
          font-size: 14px;
        }
      }
      &.top {
        height: 42px;
        margin-top: 5px;
      }
      &.bottom {
        padding: 0;
        line-height: normal;
        text-align: center;

        button {
          width: 120px;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.panel.runner {
  height: 375px;
  background: url(../img/placeholder-map.png) right 40px no-repeat;
  overflow: hidden;

  .header {
    ul {
      @include reset-list();
      width: 100%;
      margin: 0 auto;

      li {
        display: inline-block;
        width: 40%;

        &:first-of-type {
          margin-left: 13%;
        }

        input {
          top: -5px;
        }

        label {
          @extend .ir;
          @include no-outline();
          display: inline-block;
          height: 35px;
          width: 35px;
          margin: 5px 0 0 15px;
          cursor: pointer;
        }
      }
    }
  }

  ul.flyout {
    @include reset-list();
    height: 100%;
    width: 50%;
    @include background-image(linear-gradient(#cfcdc7, #b7c6cc));
    box-shadow: 5px 2px 5px rgba(black, 0.12);

    li {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      font: 14px $font-gotham;
      text-shadow: 1px 0 6px rgba(white, 1);

      &.title {
        color: white;
        text-shadow: none;
      }
      &.minutes, &.miles, &.calories {
        float: right;
        width: 56%;
        margin: 14px 0;
        padding: 12px 0 12px 53px;
        text-align: left;
        font-size: 15px;
      }
      &.minutes {
        color: $blue;
      }
      &.miles {
        color: $aqua;
      }
      &.calories {
        color: $orange;
      }
    }
  }

  button.update {
    position: absolute;
    bottom: 10px;
    left: 33%;
    background-color: rgba($off-white, .95);
  }
}