// ==========================================================================
// Content Panels
// ==========================================================================

.panel {
  position: relative;
  float: left;
  min-height: 270px;
  margin-bottom: $grid-padding;
  padding: 10px 0;
  background-color: white;
  @include border-radius(8px);

  &.last {
    margin-bottom: 0;
  }
  &.opaque {
    background: rgba(white, .5);
  }

  h3 {
    margin-top: 10px;
    font-size: 21px;
    text-align: center;

    &.health-goals {
      margin-bottom: 10px;
    }
  }
  h4 {
    margin-bottom: 0;
    font: 18px $font-multicolore;
    color: $navy;
    text-align: center;

    &.health-goals {
      margin-top: 15px;
    }
  }
  h5 {
    margin-top: 10px;
    font: 18px $font-gotham;
    color: $dark-blue;
    text-align: center;
  }

  ul {
    @include reset-list();
  }

  a.options {
    @extend .ir;
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    width: 20px;
    height: 13px;
    @include no-outline();

    &:hover {
      opacity: 0.6;
    }
  }

  a.plus, span.plus {
    @extend .ir;
    display: inline-block;
    height: 20px;
    width: 20px;

    &:hover {
      opacity: 0.75;
    }
  }

  .aqua-checkmark-icon,
  .red-exclamation-icon,
  .blue-doc-icon,
  .large-air-badge,
  .purple-blocks-badge,
  .orange-gym-badge,
  .pink-yoga-badge,
  .yellow-nutrition-badge {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  .blue-doc-icon {
    height: 53px;
  }
  .purple-blocks-badge {
    height: 75px;
    width: 75px;
  }
  .large-air-badge {
    height: 125px;
    width: 125px;
  }
}

// Left-Content Panels
.left-content .panel {
  &.left {
    @include span-columns(4, 8);
  }
  &.right {
    @include span-columns(4 omega, 8);
  }
  &.full {
    width: 100%;
  }
}

// Right-Column Panels
.right-column .panel {
  width: 100%;

  h3 {
    font-size: 19px;
    text-align: left;
    text-indent: 23px;
  }
}

// Panel Headers
.panel.header {
  padding-top: 0;
  min-height: 210px;

  .header {
    width: 100%;
    padding: 15px 0 10px;
    background-color: white;
    @include border-radius(8px 8px 0 0);

    h3 {
      margin: 0;
      text-align: left;
      text-indent: 23px;
    }
  }
}

// Panel Tab-Menus
.panel.tabbed {
  padding-bottom: 0;
  overflow: hidden;

  ul.tab-menu {
    position: absolute;
    bottom: 0;
    display: block;
    height: 65px;
    width: 100%;

    li {
      float: left;
      width: 33.33%;
      height: inherit;

      a {
        display: block;
        width: 100%;
        height: inherit;
        text-align: center;
        text-decoration: none;
        font: 15px $font-gotham;
        line-height: 95px;
        color: $subnav-color;
        background-color: $soft-white;
        background-position: center 9px;
        background-repeat: no-repeat;
        border-top: 1px solid $lighter-gray;

        &:hover {
          color: $aqua;
          background-color: white;
          border-top: 1px solid white;
        }
      }
    }
  }
}

// Alerts Panel
.panel.alerts {
  ul {
    width: 90%;
    margin: 0 auto;

    li {
      float: left;
      width: 100%;
      padding-bottom: 15px;
      line-height: 60px;

      p {
        float: left;
        margin: 0;
        padding-left: 55px;
        width: 72%;
        color: white;
        font-family: GothamBook;
        font-size: 12px;
        line-height: 16px;

        span {
          font-family: GothamMedium;
          font-size: 14px;
        }
      }

      &.blue {
        p {
          color: $blue;
          font-size: 14px;
        }
      }
      &.top {
        height: 42px;
        margin-top: 5px;
      }
      &.bottom {
        padding: 0;
        line-height: normal;
        text-align: center;

        button {
          width: 120px;
          margin: 5px auto 10px;
        }
      }
    }
  }
}

// Tools & Resources Panel
.panel.tools {
  min-height: 200px;
  padding-bottom: 0;

  ul {
    width: 90%;
    margin: -10px 0 0 20px;

    li {
      float: left;
      width: 97%;
      margin-left: 3%;

      a {
        float: left;
        height: 25px;
        width: 80%;
        padding: 5px 0 5px 45px;
        font: 15px $font-gotham;
        color: white;
        text-decoration: none;
        line-height: 25px;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }

        span.plus {
          float: right;
          margin-top: 1px;
        }
      }
    }
  }
}

// Running-Warrior Panel
.panel.runner {
  height: 376px;
  background: url(../img/placeholder-map.png) right 40px no-repeat;
  overflow: hidden;

  .header {
    ul {
      width: 100%;
      margin: 0 auto;

      li {
        display: inline-block;
        width: 40%;

        &:first-of-type {
          margin-left: 13%;
        }

        input {
          top: -5px;
        }

        label {
          @extend .ir;
          @include no-outline();
          display: inline-block;
          height: 35px;
          width: 35px;
          margin: 5px 0 0 15px;
          cursor: pointer;
        }
      }
    }
  }

  // Fly-Out Panel Menu
  ul.flyout {
    height: 100%;
    width: 50%;
    @include background-image(linear-gradient(#cfcdc7, #b7c6cc));
    box-shadow: 5px 2px 5px rgba(black, 0.12);

    li {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      font: 14px $font-gotham;
      text-shadow: 1px 0 6px rgba(white, 1);

      &.title {
        color: white;
        text-shadow: none;
      }
      &.minutes, &.miles, &.calories {
        float: right;
        width: 60%;
        margin: 14px 0;
        padding: 12px 0 12px 50px;
        text-align: left;
        font-size: 15px;
      }
      &.minutes {
        color: $blue;
      }
      &.miles {
        color: $aqua;
      }
      &.calories {
        color: $orange;
      }
    }
  }

  button.update {
    position: absolute;
    bottom: 10px;
    left: 33%;
    background-color: rgba($off-white, .95);
  }
}

.panel.leaderboard {
  height: 460px;
  padding-bottom: 0;

  .header {
    height: 80px;
  }
}

.panel.badges {

  .inner {
    width: 93%;
    margin: 0 auto;
    min-width: 0;
    padding: 0 !important;

    h3 {
      padding-bottom: 5px;
      text-align: left;
      border-bottom: 1px solid $lighter-gray;
    }

    div.left {
      @include span-columns(6, 12);
      @include box-sizing(border-box);
      border-right: 1px solid $lighter-gray;

      .badge {
        margin: 20px auto 15px;
      }

      h5 {

      }
    }

    div.right {
      @include span-columns(6 omega, 12);

      h4 {
        margin-bottom: 25px;
      }

      > div {
        height: 120px;
        @include span-columns(6 omega, 12);

        h4 {
          margin-top: 5px;
          font-size: 15px;
        }

        .badge {
          height: 75px;
          width: 75px;
        }
      }
    }

    div.full {
      float: left;
      clear: both;
      width: 100%;
      padding: 30px 0 20px;

      button {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}