<div id="home" class="area">
  <h1>Home</h1>
  <!-- <div class="left-content">
    <div class="panel left">
      <h2>Personal Stats</h2>
    </div>
    <div class="panel">
      <h2>Medications</h2>
    </div>
    <div class="panel left">
      <h2>Health Record</h2>
    </div>
    <div class="panel">
      <h2>Goals Summary</h2>
    </div>
    <div class="panel full">
      <h2>Rewards</h2>
    </div>
  </div>
  <div class="right-column">
    <div class="panel">

    </div>
  </div> -->
</div>