<div id="home" class="area">
  <div class="left-content">
    <div class="panel left">
      <h3>Personal Stats</h3>
    </div>
    <div class="panel right">
      <h3>Medications</h3>
    </div>
    <div class="panel left">
      <h3>Health Record</h3>
    </div>
    <div class="panel right">
      <h3>Goals Summary</h3>
    </div>
    <div class="panel full last">
      <h3>Rewards</h3>
    </div>
  </div>
  <div class="right-column">
    <div class="panel">

    </div>
    <div class="panel last">

    </div>
  </div>
</div>