# PROJECT #
###########
src
dist
dest
.docs
.sass-cache
node_modules
*.sublime-project
*.sublime-workspace


# OSX/SYSTEM #
##############
.DS_Store
.DS_Store*
.DS_Store?
ehthumbs.db
Thumbs.db
Icon?
._*
.Trashes
.Spotlight-V100
.dropbox.attr
