<div id="goals" class="area">
  <div class="left-content">
    <div class="panel full header opaque">
      <div class="header">
        <h3>Leaderboard</h3>
        <a href="#" class="options">Options</a>
        <!-- TODO: Tab-Filter-Menu -->
      </div>

    </div>
    <div class="panel left">
      <h3>Calorie Log</h3>
      <a href="#" class="options">Options</a>
      <!-- TODO: Bottom-Tab-Menu -->
    </div>
    <div class="panel right">
      <h3>Spotter</h3>
      <a href="#" class="options">Options</a>
    </div>
    <div class="panel left last">
      <h3>Goals Summary</h3>
      <a href="#" class="options">Options</a>
    </div>
    <div class="panel right last">
      <h3>Earned Badges</h3>
      <a href="#" class="options">Options</a>
    </div>
  </div>
  <div class="right-column">
    <div class="panel alerts opaque">
      <ul>
        <li class="top"></li>
        <li class="event blue">
          <p><span>Upcoming Appointment:</span><br>August 18 @ 3:00pm<br>Beth Israel Medical Center</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="summary">
          <p><span>New Visit Summary:</span><br>A new visit summary has been<br>sent to you by Dr. Josh Willis</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="refill">
          <p><span>Medication Reﬁll:</span><br>Running low, refill one of 3<br>medications</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="record">
          <p><span>Build your CHR:</span><br>Your Complete Health Record<br>is only 70% completed</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="bottom">
          <button>5 more alerts</button>
        </li>
      </ul>
    </div>
    <div class="panel runner header opaque">
      <div class="header">
        <h3>Running Warrior</h3>
        <a href="#" class="options">Options</a>
        <ul>
          <li>
            <input type="checkbox" class="slider-checkbox" id="nike-check" checked>
            <label class="nike-icon" for="nike-check">Nike</label>
          </li>
          <li>
            <input type="checkbox" class="slider-checkbox" id="facebook-check" checked>
            <label class="facebook-icon" for="facebook-check">Facebook</label>
          </li>
        </ul>
      </div>
      <ul class="flyout">
        <li class="title">September 20, 2014</li>
        <li class="minutes">46.2 Min</li>
        <li class="miles">3.46 Miles</li>
        <li class="calories">502.44 Cal</li>
      </ul>
      <button class="update">Update</button>
    </div>
    <div class="panel tools opaque last">
      <h3>Tools &amp; Resources</h3>
    </div>
  </div>
</div>