<div id="goals" class="area">
  <div class="left-content">
    <div class="panel full header opaque">
      <div class="header">
        <h3>Leaderboard</h3>

      </div>

    </div>
    <div class="panel left">
      <h3>Calorie Log</h3>
    </div>
    <div class="panel right">
      <h3>Spotter</h3>
    </div>
    <div class="panel left last">
      <h3>Goals Summary</h3>
    </div>
    <div class="panel right last">
      <h3>Earned Badges</h3>
    </div>
  </div>
  <div class="right-column">
    <div class="panel alerts">
      <!-- <ul>
        <li class="top"></li>
        <li>Upcoming Appointment: <a href="#" class="plus">&plus;</a></li>
      </ul> -->
    </div>
    <div class="panel">
      <h3>Running Warrior</h3>
    </div>
    <div class="panel tools last">
      <h3>Tools &amp; Resources</h3>
    </div>
  </div>
</div>