<div id="goals" class="area">
  <div class="left-content">
    <div class="panel left">
      <h3>Goals</h3>
    </div>
    <div class="panel right">
      <h3>Sutar Dolor</h3>
    </div>
    <div class="panel left">
      <h3>Sutar Utamol</h3>
    </div>
    <div class="panel right">
      <h3>Lorem Ipsum</h3>
    </div>
    <div class="panel full last">
      <h3>Dolor Etum</h3>
    </div>
  </div>
  <div class="right-column">
    <div class="panel">

    </div>
    <div class="panel last">

    </div>
  </div>
</div>