<div id="health" class="area">
  <div class="left-content">
    <div class="panel tabbed left">
      <h3>Health Record</h3>
      <a href="#" class="options">Options</a>
      <div class="blue-doc-icon"></div>
      <h4>Build Your CHR</h4>
      <h5>70% completed</h5>
      <ul class="tab-menu">
        <li><a class="download-icon" href="#">Update</a></li>
        <li><a class="checkmark-icon" href="#">Verify</a></li>
        <li><a class="pill-icon" href="#">Refill</a></li>
      </ul>
    </div>
    <div class="panel tabbed right">
      <h3>Health Stats</h3>
      <a href="#" class="options">Options</a>
      <div class="aqua-checkmark-icon"></div>
      <h4>Lookin' Good</h4>
      <h5>No recent changes</h5>
      <ul class="tab-menu">
        <li><a class="download-icon" href="#">Update</a></li>
        <li><a class="graph-icon" href="#">Graph</a></li>
        <li><a class="send-icon" href="#">Send</a></li>
      </ul>
    </div>
    <div class="panel badges full">
      <a href="#" class="options">Options</a>
      <div class="inner">
        <h3>Badges</h3>
        <div class="left">
          <h4>Your Next Badge:</h4>
          <div class="badge large-air-badge"></div>
          <h4>Fresh Air</h4>
          <h5>5 more weeks to<br>Quit Smoking</h5>
        </div>
        <div class="right">
          <h4>Earned:</h4>
          <div>
            <div class="badge orange-gym-badge"></div>
            <h4>Gym Rat</h4>
          </div>
          <div>
            <div class="badge pink-yoga-badge"></div>
            <h4>Yoga Guru</h4>
          </div>
          <div>
            <div class="badge purple-blocks-badge"></div>
            <h4>Glucose<br>Stabilizer</h4>
          </div>
          <div>
            <div class="badge yellow-nutrition-badge"></div>
            <h4>Nutrition<br>Newbie</h4>
          </div>
        </div>
        <div class="full">
          <button class="blue full">Cash Them In!</button>
        </div>
      </div>
    </div>
    <div class="panel tabbed left last">
      <h3 class="health-goals">Health Goals</h3>
      <a href="#" class="options">Options</a>
      <div class="purple-blocks-badge"></div>
      <h4 class="health-goals">Glucose Stabilizer</h4>
      <h5>In Control!</h5>
      <ul class="tab-menu">
        <li><a class="download-icon" href="#">Update</a></li>
        <li><a class="graph-icon" href="#">Graph</a></li>
        <li><a class="send-icon" href="#">Send</a></li>
      </ul>
    </div>
    <div class="panel tabbed right last">
      <h3>Medications</h3>
      <a href="#" class="options">Options</a>
      <div class="red-exclamation-icon"></div>
      <h4>Medications Running Low</h4>
      <h5>Refill 1 of 3 prescriptions</h5>
      <ul class="tab-menu">
        <li><a class="download-icon" href="#">Update</a></li>
        <li><a class="checkmark-icon" href="#">Verify</a></li>
        <li><a class="pill-icon" href="#">Refill</a></li>
      </ul>
    </div>
  </div>
  <div class="right-column">
    <div class="panel alerts opaque">
      <ul>
        <li class="top"></li>
        <li class="event blue">
          <p><span>Upcoming Appointment:</span><br>August 18 @ 3:00pm<br>Beth Israel Medical Center</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="summary">
          <p><span>New Visit Summary:</span><br>A new visit summary has been<br>sent to you by Dr. Josh Willis</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="refill">
          <p><span>Medication Reﬁll:</span><br>Running low, refill one of 3<br>medications</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="record">
          <p><span>Build your CHR:</span><br>Your Complete Health Record<br>is only 70% completed</p>
          <a href="#" class="plus">&plus;</a>
        </li>
        <li class="bottom">
          <button>5 more alerts</button>
        </li>
      </ul>
    </div>
    <div class="panel tools opaque last">
      <h3>Tools &amp; Resources</h3>
      <ul>
        <li>
          <a href="#" class="download plus-icon">
            Download CHR
            <span class="plus">&plus;</span>
          </a>
        </li>
        <li>
          <a href="#" class="wrench plus-icon">
            Customize Page
            <span class="plus">&plus;</span>
          </a>
        </li>
        <li>
          <a href="#" class="add plus-icon">
            Request Access
            <span class="plus">&plus;</span>
          </a>
        </li>
        <li>
          <a href="#" class="doc plus-icon">
            Right to Access
            <span class="plus">&plus;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>